<main>
  <h1><%= project.title %></h1>
  <p><%= project.description %></p>
  <span
    >The author is <%= project.user.username || project.user.google.username
    %></span
  >
  <% if(user.id === project.user.id){ %>
  <div>
    <br />
    <button class="myBtn">
      <a href="<%= '/project/' + project.id + '/modify' %>">Modify</a>
    </button>
    <button class="myBtn">
      <a href="<%= '/project/' + project.id + '/delete' %>">Delete</a>
    </button>
  </div>
  <% } %>
  <br />
  <span>Add an project <a href="/project/add">Add</a></span>
</main>
